@model IEnumerable<DF.Business.Model.EntityFramework.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/FooTable/jquery-2.1.1.js"></script>
<script src="~/Scripts/FooTable/footable.js"></script>
<script src="~/Scripts/FooTable/footable.filter.js"></script>
<script src="~/Content/plugins/iCheck/icheck.min.js"></script>

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateUser", "Administrative")
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well-sm">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Sample","Test")">Document Flow</a></li>
                    <li><a href="@Url.Action("Index","Administrative")">Administrative</a></li>
                    <li class="active">Users</li>
                </ol>
            </div>
        </div>
    </div>
    <table id="tblUsers" style="text-align:center;" data-filter="#filter">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Dob</th>
                <th>Email</th>
                <th>Address</th>
                <th>User Type</th>
                <th>Created On</th>
                <th>Is Active</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { onClick="confirm('hi')"})
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="11"><div class="pagination pagination-centered" style="float:right;"></div></td>
            </tr>
        </tfoot>

    </table>
    <script type="text/javascript">
    $(function () {

        $('#tblUsers').footable({ pageSize: 5 });

        $('input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });

        $("#check-all").on('ifUnchecked', function (event) {
            $("input[type='checkbox']", ".table-hover").iCheck("uncheck");
        });

        $("#check-all").on("ifChecked", function (event) {
            $("input[type='checkbox']", ".table-hover").iCheck("check");
        });

        $(".fa-star,.fa-star-o, .glyphicon-star, .glyphicon-star-empty").click(function (e) {
            e.preventDefault();
            var glyph = $(this).hasClass("glyphicon");
            var fa = $(this).hasClass("fa");

            if (glyph) {
                $(this).toggleClass("glyphicon-star");
                $(this).toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $(this).toggleClass("fa-star");
                $(this).toggleClass("fa-star-o");
            }
        });
    });
    </script>
</div>




